extends layout

block stylesheets

block javascripts

block content
  header
  article
  footer
    span(style='margin-right: 4px;') made with
    i.fa.fa-heart(aria-hidden=true)
    span(style='margin-left: 4px;') by Code for Tokyo
  script.
    'use strict';
